
/* Drop Dpwn Credit Component */
#dropdown-basic-button {
  background-color: #5FF !important;
  color: rgb(5, 85, 146) !important;
  font-family: 'Caveat', cursive;
  font-family: 'Fuzzy Bubbles', cursive;
  display: flex;
}