/* ProjectCard Component */

a {
  text-decoration: none !important;
}

.card {
  width: 35rem !important;
  background: var(--light-blue) !important;
  border-radius: 10px !important;
  border: 1rem solid var(--dark-blue) !important;
  margin: 1% !important;
}

.card-image-position {
  display: flex;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.cardBodyText {
  font-size: 1em !important;
  height: 60%;
  border-top: 1rem solid var(--dark-blue);
}

.cardBodyTitle {
  font-size: 1em !important;
  color: var(--dark-blue);
  text-decoration: underline;
}

.cardBodyLinks {
  font-size: 1em !important;
  height: 40%;
  border-top: 1rem solid var(--dark-blue);
}

.galleryCardLink {
  font-size: 1em !important;
  line-height: 1 !important;
  color: var(--dark-blue);
}

.aboutText {
  font-size: 1em !important;
  color: var(--dark-blue);
}
