/* Freelance Page */
.comingsoondiv {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 20px 20px;
  color: var(--navy-blue);
  background-color: rgb(214, 5, 5);
  padding: 50px;
  border-radius: 50px;
  border: rgb(8, 218, 8) solid 20px;
}
/* .pageUnderConstruction {

} */

.freelanceAboutMe {
  color: var(--dark-blue);
  font-family: "Caveat", cursive !important;
  font-family: "Fuzzy Bubbles", cursive !important;
}
/* .freelanceText {
color: var(--light-blue);

} */

.freelanceColorSection {
  background-color: var(--dark-blue);
  border: var(--light-blue) solid 10px;
  border-radius: 10px;
  margin: 20px 20px 20px 20px;
  padding: 1%;
  font-family: "Caveat", cursive !important;
  font-family: "Fuzzy Bubbles", cursive !important;
  color: var(--light-blue);
}

.freelanceWhiteSection {
  background-color: var(--light-blue);
  border: var(--dark-blue) solid 10px;
  border-radius: 10px;
  margin: 20px 20px 20px 20px;
  padding: 1%;
  font-family: "Caveat", cursive !important;
  font-family: "Fuzzy Bubbles", cursive !important;
}

.freelanceDarkSection {
  background-color: var(--navy-blue);
  border: var(--dark-blue) solid 10px;
  border-radius: 10px;
  margin: 20px 20px 20px 20px;
  padding: 1%;
  font-family: "Caveat", cursive !important;
  font-family: "Fuzzy Bubbles", cursive !important;
}
