/* Freelance Page */

.pageUnderConstruction {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: var(--navy-blue);
  background-color: var(--light-blue);
  padding: 50px;
  border-radius: 50px;
  border: var(--dark-blue) solid 20px;
}
