/* Project Gallery Page */

.intro {
  width: 100%;
  text-align: center;
  font-size: 1em;
  margin-bottom: 1%;
  padding: 1rem;
  font-family: 'Caveat', cursive;
  font-family: 'Fuzzy Bubbles', cursive;
  color: var(--dark-blue) !important;
}

.galleryBackground {
  background-image: url(./assets/vecteezy_the-wild-ocean-view_6177787.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 87vh;
}

.galleryCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallerytitle {
  color: var(--dark-blue) !important;
}
