
/* Title Component */
.title {
  width: 100%;
  text-align: center;
  font-size: 400%;
  text-decoration: underline;
  margin-bottom: 1%;
  padding: 1rem;
  font-style: italic;
  font-family: 'Caveat', cursive;
  font-family: 'Fuzzy Bubbles', cursive;
  color: rgb(5, 85, 146);
}