/* Home Page */

.page-background-home {
  background-image: url(./assets/images/vecteezy_beach-holiday-summer-background_7076104.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.home-title {
  color: var(--dark-blue) !important;
  text-align: center;
}

.home-subtitle {
  text-align: center !important;
  color: var(--dark-blue) !important;
  padding-bottom: 5% !important;
}

.aboutMePosition {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 80%;
}

.profilePic {
  width: 15%;
  height: 25%;
  border-radius: 50px;
  border: var(--dark-blue) solid 10px;
  margin-top: 20px;
}
