

/*  Wrapper Component */
.wrapper {
  padding-top: 40px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Caveat', cursive;
  font-family: 'Fuzzy Bubbles', cursive;
  justify-content: space-between;
  align-content: flex-start;
  overflow: auto;
  background-image: url(../components/Wrapper/assets/vecteezy_the-wild-ocean-view_6177787.jpg);
}