.aboutMeText {
  color: var(--dark-blue) !important;
  font-size: 100%;
  text-align: center;
}

.skills {
  color: var(--dark-blue) !important;
}

.aboutMeSkills {
  color: var(--dark-blue) !important;
  font-size: 100%;
  text-align: center;
}
.aboutMeHeader {
  color: var(--dark-blue) !important;
}

.aboutMeCard {
  color: var(--dark-blue) !important;
  font-size: 100%;
  text-align: center;
  background-color: var(--light-blue);
  border: solid 10px var(--dark-blue);
  border-radius: 20px;
  padding: 1%;
  margin-bottom: 5%;
}
