.aboutMeText {
  color: rgb(5, 85, 146) !important;
  font-family: "Caveat", cursive;
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 100%;
  text-align: center;
}

.skills {
  color: rgb(5, 85, 146) !important;
  font-family: "Caveat", cursive;
  font-family: "Fuzzy Bubbles", cursive;
}

.aboutMeSkills {
  color: rgb(5, 85, 146) !important;
  font-family: "Caveat", cursive;
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 100%;
  text-align: center;
}
.aboutMeHeader {
  color: rgb(5, 85, 146) !important;
  font-family: "Caveat", cursive;
  font-family: "Fuzzy Bubbles", cursive;
}

.aboutMeCard {
  color: rgb(5, 85, 146) !important;
  font-family: "Caveat", cursive;
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 100%;
  text-align: center;
  background-color: #caf0f8;
  border: solid 10px rgb(5, 85, 146);
  border-radius: 20px;
  padding: 1%;
margin-bottom: 5%;
}
