/* Header Component */

/* nav a:hover {
  color: var(--light-blue) !important;
  
} */

.navigation {
  width: 100% !important;
  height: 100% !important;
  font-size: 1rem !important;
  background-color: var(--dark-blue) !important;
  justify-content: space-around !important;
  }

.navIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none !important;
}

.navbarIcons {
  font-size: 2rem !important;
  color: var(--light-blue) !important;
  padding: 10px;
}

.navbarIcons:hover {
  font-size: 2rem !important;
  color: var(--navy-blue) !important;
  padding: 10px;
}

.navbar-brand {
  color:var(--navy-blue) !important;
  font-size: 100%;
  margin-left: 0%;
}

.nav-link {
  color: var(--light-blue) !important;
  font-size: 60%;
  font-family: 'Caveat', cursive;
  font-family: 'Fuzzy Bubbles', cursive;
  border-radius: 20px;
  width: auto;
}

.nav-link:hover {
  background-color: var(--light-blue);
  color: var(--dark-blue) !important;
  border-radius: 20px;
  width: auto;
}

div.dropdown-menu.show {
background-color: var(--dark-blue) !important;
border:0;
padding: 0 0 !important;
text-align: center;
}

.dropdown-menu {
  margin: 0 !important;
}