/*  Footer Component */

.footer {
  width: 100%;
  background-color: rgb(5, 85, 146) !important;
  color: #5ff;
  font-size: 1rem !important;
  text-align: center;
  padding: 1rem;
  font-family: "Caveat", cursive;
  font-family: "Fuzzy Bubbles", cursive;
  position: fixed;
  bottom: 0;
}

.dropdown {
  position: absolute !important;
  top: 15% !important;
  right: 0 !important;  
}
