/*  Footer Component */

.footer {
  width: 100%;
  background-color: var(--dark-blue) !important;
  color:var(--aqua-blue);
  font-size: 1rem !important;
  text-align: center;
  padding: 1rem;
  font-family: "Caveat", cursive;
  font-family: "Fuzzy Bubbles", cursive;
 
}

/* .dropdown {
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;  
} */
