
.blog-image {
    width: 50% !important;
  }
  
  .blogLinkText {
    color: #e6ddc4 !important;
    font-size: 1em;
    text-decoration: none;
  }
  
  .blogButton {
    display: flex;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    color: #e6ddc4 !important;
    font-weight: bold !important;
    font-size: 100% !important;
    width: 40% !important;
    border-radius: 20px !important;
    background-color: rgb(5, 85, 146) !important;
    border: rgb(5, 85, 146) solid 10px !important;
  }

  .blog-card {
    width: 550px;
    display: flex;
    justify-content: center;
    border: 1rem solid rgb(5, 85, 146) !important;
    margin: 10px auto 10px auto;
    background-color: #e6ddc4 !important;
    border-radius: 50px !important;
  }
  
  .blogTitle {
    margin: 0 !important;
    padding: 0 !important;
    color: #181d31;
  }
  .blogDate {
    margin: 0 !important;
    padding: 0 !important;
    color: #181d31;
    font-size: 1.5em;
  }