/* Contact Me Component */

.formlabel {
  display: flex;
  margin: auto;
  color: #5FF;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Caveat', cursive;
  font-family: 'Fuzzy Bubbles', cursive;
}

.forminput {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50% !important;
  font-family: 'Caveat', cursive;
  font-family: 'Fuzzy Bubbles', cursive;
}

.formsubmit {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(5, 85, 146) !important;
  background-color: #5FF;
  font-weight: bold;
  font-size: 1rem;
  width: 30%;
  margin-bottom: 5%;
  font-family: 'Caveat', cursive;
  font-family: 'Fuzzy Bubbles', cursive;
}

.submit-button {
  display: flex;
  margin: 40px auto 40px auto !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  color: #181d31 !important;
  font-weight: bold !important;
  font-size: 100% !important;
  width: 40% !important;
  border-radius: 20px !important;
  border: rgb(5, 85, 146) solid 10px !important;
  background-color: #5FF !important;
}

.submit-button:hover {
  color: #5FF !important;
  background-color:  #181d31 !important;
}

.messagebox {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50% !important;
  height: 100px;
  font-family: 'Caveat', cursive;
  font-family: 'Fuzzy Bubbles', cursive;
}

.messagelabel {
  margin: auto;
  display: flex;
  color: #5FF;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Caveat', cursive;
  font-family: 'Fuzzy Bubbles', cursive;
}