:root {
  font-family: "Caveat", cursive !important;
  font-family: "Fuzzy Bubbles", cursive !important;
  font-weight: 400;
  --light-blue: #caf0f8;
  --aqua-blue: #5ff;
  --dark-blue: rgb(5, 85, 146);
  --navy-blue: #181d31;
  --cream:  #e6ddc4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--light-blue);
  font-family: "Caveat", cursive !important;
  font-family: "Fuzzy Bubbles", cursive !important;
}

h2 {
  font-size: 2em;
  line-height: 1;
  color: var(--light-blue);
  font-family: "Caveat", cursive !important;
  font-family: "Fuzzy Bubbles", cursive !important;
}

h4 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Caveat", cursive !important;
  font-family: "Fuzzy Bubbles", cursive !important;
}

h5 {
  text-decoration: none;
  line-height: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 100%;
  font-family: "Caveat", cursive !important;
  font-family: "Fuzzy Bubbles", cursive !important;
}

/* General Page Layout */
.page-background {
  background-color: var(--navy-blue);
  min-height: 120vh;
  margin-top: 0;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

/* Avatar */

.avatarImage {
  height: 300px;
  margin: auto;
  padding: auto;
}

/* Media Queries */

@media (max-width: 900px) {
  .title {
    width: 100%;
    text-align: center;
    font-size: 200%;
    text-decoration: underline;
    margin-bottom: 1%;
    padding: 1rem;
    font-style: italic;
    color: rgb(5, 85, 146);
  }

  .text {
    color: rgb(5, 85, 146) !important;
    font-size: 70%;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 1%;
  }

  .myname {
    color: rgb(5, 85, 146) !important;
    text-align: center;
    font-size: 100%;
  }

  .brand {
    text-align: center;
    color: rgb(5, 85, 146) !important;
    font-size: 100%;
  }
}

@media (max-width: 840px) {
  .profilePic {
    width: 20%;
    height: 30%;
    border-radius: 50px;
    border: solid rgb(5, 85, 146) 5px;
  }
}

@media (max-width: 545px) {
  .contactMeForm {
    width: 100%;
    background-color: rgb(5, 85, 146) !important;
    margin: auto;
    border-radius: 40px;
    padding: 2px;
  }
  .card {
    width: 100%;
    height: auto;
    background: #caf0f8;
    border-radius: 5%;
    border: 1rem solid rgb(5, 85, 156);
  }

  .cardBodyText {
    font-size: 100%;
    height: auto;
    border-top: 1rem solid rgb(5, 85, 156);
  }

  .cardBodyLinks {
    font-size: 100%;
    height: auto;
    border-top: 1rem solid rgb(5, 85, 156);
  }

  .profilePic {
    width: 30%;
    height: 50%;
    border-radius: 50px;
    border: solid rgb(5, 85, 146) 5px;
  }
}