:root {
  font-family: "Bubblegum Sans", cursive;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #f0e9d2;
  padding: 20px;
  font-family: "Bubblegum Sans", cursive;
}

h2 {
  font-size: 2em;
  line-height: 1;
  color: #f0e9d2;
  padding: 20px;
  font-family: "Bubblegum Sans", cursive;
}

h4,
h5 {
  font-size: 1em;
  line-height: 1;
  color: #678983 !important;
  font-family: "Bubblegum Sans", cursive;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar */

.nav-link {
  color: #181d31 !important;
  font-size: 1rem;
}

.nav-link:hover {
  color: #678983 !important;
  background-color: #e6ddc4;
}

nav a:hover {
  color: #e6ddc4;
}

.navIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none !important;
}

.navbarIcons {
  font-size: 2rem !important;
  color: #f0e9d2;
  padding: 10px;
}

.navigation {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background: rgb(230, 221, 196);
  background: linear-gradient(
    90deg,
    rgba(230, 221, 196, 1) 30%,
    rgba(103, 137, 131, 1) 78%
  );
  font-size: 1rem;
  padding: 0 0 4.5rem;
}

/* General Page Layout */
.page-background {
  background-color: #181d31;
  min-height: 120vh;
  margin-top: 0;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

/* Home Page */
.profilePic {
  display: flex;
  width: 15%;
  border-radius: 50%;
  border: solid #678983 10px;
  margin-top: 30px;
  position: absolute;
  left: 80px;
  top: 100px;
}

.page-background-home {
  background-color: #181d31;
  width: 100%;
  background-position: center center;
  border: #181d31 solid 20px;
  height: 87vh;
  background-repeat: no-repeat;
}

.image-home {
  border: #678983 solid 20px;
  border-radius: 20%;
  display: flex;
  margin: auto;
  width: 50%;
}

.home-title {
  position: absolute;
  top: 60%;
  text-align: left;
}

.home-subtitle {
  position: absolute;
  top: 70%;
  text-align: left;
  font-size: 1.25em;
}

.aboutMeCard {
  background-color: #e6ddc4 !important;
  color: #678983;
  text-align: center;
  border: #678983 solid 10px !important;
  border-radius: 20px;
  width: 90%;
}

.aboutMePosition {
  display: flex;
  width: auto;
  position: absolute;
  top: 15%;
  left: 77%;
  flex-wrap: wrap;
}

.aboutMeHeader {
  font-size: 3em;
  font-family: "Bubblegum Sans", cursive;
}

.aboutMeText {
  font-size: 1em;
}

@media screen and (max-width: 1200px) {
  .aboutMePosition {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    left: 0%;
    top: 75px;
  }

  .profilePic {
    display: flex;
    width: 20%;
    border-radius: 50%;
    border: solid #678983 10px;
    margin-top: 30px;
    position: absolute;
    left: 80px;
    top: 100px;
  }

  .image-home {
    border: #678983 solid 20px;
    border-radius: 20%;
    display: flex;
    margin-left: 40%;
    width: 50%;
  }

  .home-title {
    position: absolute;
    top: 45%;
    text-align: left;
    margin-left: 5%;
  }

  .home-subtitle {
    position: absolute;
    top: 50%;
    margin-left: 5%;
    text-align: left;
    font-size: 1.25em;
  }
}

@media screen and (max-width: 900px) {
  .aboutMePosition {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    left: 0%;
    top: 70px;
  }

  .profilePic {
    display: flex;
    width: 25%;
    border-radius: 50%;
    border: solid #678983 10px;
    margin-top: 30px;
    position: absolute;
    left: 60px;
    top: 100px;
  }

  .aboutMeHeader {
    font-size: 2em;
    font-family: "Bubblegum Sans", cursive;
  }

  .image-home {
    border: #678983 solid 20px;
    border-radius: 20%;
    display: flex;
    margin-left: 40%;
    margin-top: 5%;
    width: 55%;
  }

  .home-title {
    position: absolute;
    top: 40%;
    margin-left: 0;
    text-align: left;
  }

  .home-subtitle {
    position: absolute;
    top: 45%;
    margin-left: 0;
    text-align: left;
    font-size: 1.25em;
  }
}

@media screen and (max-width: 650px) {
  .page-background-home {
    background-color: #181d31;
    width: 100%;
    background-position: center center;
    border: #181d31 solid 20px;
    height: 100%;
    background-repeat: no-repeat;
  }

  .aboutMePosition {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    left: 0;
    top: -150px;
  }

  .profilePic {
    display: flex;
    width: 30%;
    border-radius: 50%;
    border: solid #678983 10px;
    position: relative;
    top: 0;
  }

  .aboutMeHeader {
    font-size: 2em;
    font-family: "Bubblegum Sans", cursive;
  }

  .image-home {
    border: #678983 solid 20px;
    border-radius: 20%;
    display: flex;
    margin-left: 10%;
    margin-top: 0%;
    width: 80%;
  }

  .home-title {
    position: relative;
    top: -120px;
    text-align: right;
  }

  .home-subtitle {
    position: relative;
    top: -180px;
    text-align: right;
    font-size: 1.25em;
  }
}

@media screen and (max-width: 520px) {
  .page-background-home {
    background-color: #181d31;
    width: 100%;
    background-position: center center;
    border: #181d31 solid 20px;
    height: 100%;
    background-repeat: no-repeat;
  }

  .aboutMePosition {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    left: 0;
    top: 0;
  }

  .profilePic {
    display: flex;

    width: 50%;
    border-radius: 50%;
    border: solid #678983 10px;
    position: relative;
    top: 0;
    left: 25%;
    right: 25%;
  }

  .aboutMeHeader {
    font-size: 2em;
    font-family: "Bubblegum Sans", cursive;
  }

  .image-home {
    border: #678983 solid 20px;
    border-radius: 20%;
    display: flex;
    margin: auto;
    width: 80%;
  }

  .home-title {
    position: relative;
    top: 0;
    text-align: center;
  }

  .home-subtitle {
    position: relative;
    top: 0;
    text-align: center;
    font-size: 1.25em;
  }
}

/* Contact Page  and Component */

.formlabel {
  display: flex;
  margin: auto;
  color: #678983;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 150%;
}

.forminput {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50% !important;
  height: 50px;
}

.submit-button {
  display: flex;
  margin: 40px auto 40px auto !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  color: #678983 !important;
  font-weight: bold !important;
  font-size: 100% !important;
  width: 40% !important;
  border-radius: 20px !important;
  border: #678983 solid 10px !important;
  background-color: #e6ddc4 !important;
}

.submit-button:hover {
  color: #e6ddc4 !important;
  background-color: #678983 !important;
}

.messagebox {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 50% !important;
  height: 100px;
}

.messagelabel {
  margin: auto;
  display: flex;
  color: #678983;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.contactText {
  text-align: center;
  margin: 2%;
  font-size: 150%;
  color: #f0e9d2;
}

.fa {
  font-size: 5rem;
  color: #f0e9d2;
}

.fa:hover {
  font-size: 5rem;
  color: #678983;
}

span {
  display: flex;
  justify-content: space-around;
  margin: 0% 20% 0% 20%;
  align-items: center;
}

.contact {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 400% !important;
}

.contactMeForm {
  width: 80%;
  background-color: #f0e9d2 !important;
  margin: auto;
  border-radius: 60px;
  padding: 10px;
}

.cv {
  font-size: 1em;
  color: #e6ddc4;
  text-decoration: none;
  background-color: #678983;
  border-radius: 20px;
  padding: 10px;
}

.cv:hover {
  color: #678983;
  background-color: #e6ddc4;
}

/* Gallery and Project Cards */

.intro {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #e6ddc4;
}

.gallery-card {
  width: 550px;
  background: #f0e9d2;
  border: 1rem solid #678983 !important;
  margin: 1%;
}

.galleryCardLink {
  font-size: 1em;
  line-height: 1;
  color: #678983 !important;
  font-family: "Bubblegum Sans", cursive;
  text-decoration: none !important;
}

.card-image-position {
  display: flex;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: 100%;
  overflow: hidden;
  border-radius: 2%;
}

.cardBodyText {
  font-size: 100%;
  border-top: 1rem solid #678983;
}

.cardBodyLinks {
  font-size: 100%;
  width: 100%;
  border-top: 1rem solid #678983;
}

.galleryCard {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-around !important;
}

/* Blog Page */
.blogText {
  color: #e6ddc4;
  padding: 10px;
  font-size: 1.5em;
}

.blog-image {
  width: 50% !important;
}
/* .blog-text {
  color: #e6ddc4 !important;
  font-size: 1em;
} */

.blogLinkText {
  color: #e6ddc4 !important;
  font-size: 1em;
  text-decoration: none;
}

.blogButton {
  display: flex;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  color: #e6ddc4 !important;
  font-weight: bold !important;
  font-size: 100% !important;
  width: 40% !important;
  border-radius: 20px !important;
  background-color: #678983 !important;
  border: #678983 solid 10px !important;
}

.blogCard {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-around !important;
}
.blog-card {
  width: 550px;
  display: flex;
  justify-content: center;
  border: 1rem solid #678983 !important;
  margin: 10px auto 10px auto;
  background-color: #e6ddc4 !important;
  border-radius: 50px !important;
}

.blogTitle {
  margin: 0 !important;
  padding: 0 !important;
  color: #678983;
}
.blogDate {
  margin: 0 !important;
  padding: 0 !important;
  color: #678983;
  font-size: 1.5em;
}

.picture {
  background-image: url(../src/assets/maldives.jpeg);
  width: 100%;
  background-position: center center;
  padding-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  border: #e6ddc4 solid 50px;
  border-radius: 50px;
}

.picture-section {
  padding: 50px;
}

.search {
  color: #678983 !important;
  border: #678983 solid 5px !important;
  background-color: #f0e9d2 !important;
  border-radius: 20px !important;
  position: relative;
  top: 100px;
}

.search-button {
  color: #678983 !important;
  font-weight: bold !important;
  font-size: 1rem !important;
  border-radius: 20px !important;
  border: #678983 solid 5px !important;
  background-color: #f0e9d2 !important;
  position: relative;
  top: 100px;
  padding-left: 5px;
  padding-right: 5px;
}

.search-button:hover {
  color: #e6ddc4 !important;
  background-color: #678983 !important;
}

/* Footer */
.footer {
  background: rgb(230, 221, 196);
  background: linear-gradient(
    270deg,
    rgba(230, 221, 196, 1) 30%,
    rgba(103, 137, 131, 1) 78%
  );
  color: #181d31;
  font-size: 1rem !important;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

/* Page Not Found */
.notfound-page-container {
  width: 100%;
  background-color: #181d31;
  height: 85vh;
}

.notfound-page-inner {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notfound-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px solid #678983;
  border-radius: 20px;
  width: 100%;
  background-color: #181d31;
  color: #e6ddc4;
}

.notfound-page-content div {
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
}

.notfound-page-content div:nth-child(1) {
  justify-content: center;
  align-items: center;
}

.notfound-page-content p {
  font-size: 1rem;
}

.notfound-page-content span {
  font-size: 2rem;
}

.notfound-page-content a {
  color: #e6ddc4;
}

.notfound-page-content img {
  display: flex;
  width: 200%;
}

@media screen and (max-width: 767px) {
  .notfound-page-content {
    flex-direction: column;
    margin: 40px 0;
  }

  .notfound-page-content p {
    font-size: 1.3rem;
  }

  .notfound-page-content div {
    min-height: 260px;
    align-items: center;
  }

  .notfound-page-content img {
    display: flex;
    width: 100%;
  }
}

/* Freelance Page */

.pageUnderConstruction {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #678983;
  background-color: #e6ddc4;
  padding: 50px;

  border-radius: 50px;
  border: #678983 solid 20px;
}
