/* Header Component */

.navigation {
  width: 100% !important;
  height: 100% !important;
  font-size: 1rem !important;
  background-color: var(--dark-blue);
  justify-content: space-around !important;
}

.navIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none !important;
  color: var(--pale-green);
}

.navbarIcons {
  font-size: 2rem !important;
  color: var(--pale-green) !important;
  padding: 10px;
}

.navbarIcons:hover {
  font-size: 2rem !important;
  color: var(--teal) !important;
  padding: 10px;
}

.navbarBrand {
  color: var(--pale-green) !important;
  font-size: 100%;
  margin-left: 1%;
}

.navLink {
  color: var(--pale-green) !important;
  font-size: 60%;
  border-radius: 20px;
  width: auto;
}

.navLink:hover {
  background-color: var(--pale-green);
  color: var(--dark-blue) !important;
  border-radius: 20px;
  width: auto;
}

.webLinkButton {
  color: var(--pale-green) !important;
  background-color: var(--dark-blue) !important;
  border: solid 10px var(--dark-blue) !important;
    width: 300px; /* Adjust the width as desired */
    height: 80px; /* Adjust the height as desired */
    margin: 10px;
}

.webLinkButton:hover {
  color: var(--pale-green) !important;
  background-color: var(--teal) !important;
  border: solid 10px var(--teal) !important;
}
/* ProjectCard Component */

.galleryCard {
  width: 36rem !important;
  background: var(--light-blue) !important;
  border: 1rem solid var(--dark-blue) !important;
  margin: 1% !important;
}

.cardImagePosition {
  display: flex;
}

.professionalCardImage {
  width: 100%;
  height: 100%;
  object-fit: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: 100%;
  overflow: hidden;
  border-radius: 10px;
} 

.cardBodyText {
  font-size: 1em !important;
  height: 60%;
  border-top: 1rem solid var(--dark-blue);
}

.cardBodyTitle {
  font-size: 1em !important;
  color: var(--dark-blue);
  text-decoration: underline;
}

.cardBodyLinks {
  font-size: 1em !important;
  height: 40%;
  border-top: 1rem solid var(--dark-blue);
}

.galleryCardLink, .galleryAnchorTag {
  font-size: 1em !important;
  line-height: 1 !important;
  color: var(--dark-blue);
}

.galleryText {
  font-size: 1em !important;
  color: var(--dark-blue);
} 

/* Blog Component */

.blogCardContainer {
  max-width: 450px;
  display: flex;
  justify-content: center;
  border: solid 10px var(--dark-blue) !important;
  margin: 10px auto;
  border-radius: 50px;
}

.blogCardBody {
  background-color: var(--pale-green);
}

.blogImage {
  height: 300px;
}

.blogTitle,
.blogDate {
  height: 100px;
}

.blogTitle {
  font-size: 1.5em;
}
.blogDate {
  font-size: 1em;
}

.blogButton {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 100%;
  width: 40%;
  border-radius: 20px;
  background-color: var(--dark-blue) !important;
  border: solid 10px var(--dark-blue) !important;
}

.blogButton:hover {
  background-color: var(--teal) !important;
  border: solid 10px var(--teal) !important;
}

.blogLinkText {
  font-size: 1em;
  text-decoration: none;
}

/* Contact Me Component */

.formLabel {
  display: flex;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
}

.formInput {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50% !important;
}

.submitButton {
  display: flex;
background-color: var(--dark-blue) !important;
border: solid 10px var(--dark-blue) !important;
  margin: 40px auto 40px auto !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  font-weight: bold !important;
  font-size: 100% !important;
  width: 40% !important;
  border-radius: 20px !important;
}

.submitButton:hover {
  background-color: var(--teal) !important;
  border: solid 10px var(--teal) !important;
}

.messageBox {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50% !important;
  height: 100px;
}

.messageLabel {
  margin: auto;
  display: flex;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*  Footer Component */

.footer {
  width: 100%;
background-color: var(--dark-blue);
  font-size: 1rem !important;
  text-align: center;
  padding: 1rem;
color: var(--pale-green);
  margin: 0;
}
