/* General Page Layout */
.pageBackground {
  background-color: var(--navy-blue);
  min-height: 100vh;
  text-align: center;
  padding: 1%;
  margin: 0;
  max-width: 100%;
}

/* Home Page */

.pageBackgroundHome {
  background-image: url(../../assets//images//vecteezy_beach-holiday-summer-background_7076104.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}

.homePageTitle {
  color: var(--dark-blue) !important;
  text-align: center;
}

.homeSubtitle {
  text-align: center !important;
  color: var(--dark-blue) !important;
}

.aboutMePosition {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 98%;
  padding: 10px;
}

.profilePic {
  width: 15%;
  height: 25%;
  border-radius: 50px;
  border: var(--dark-blue) solid 10px;
  margin-top: 20px;
}

/* Project Gallery Page */

.galleryIntro {
  width: 100%;
  text-align: center;
  font-size: 1em;
  margin-bottom: 1%;
  padding: 1rem;
  font-family: "Caveat", cursive;
  font-family: "Fuzzy Bubbles", cursive;
  color: var(--dark-blue) !important;
}

.galleryBackground {
  background-image: url(../images/vecteezy_the-wild-ocean-view_6177787.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.galleryPageCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.galleryPageTitle {
  color: var(--dark-blue) !important;
  font-family: "Caveat", cursive;
  font-family: "Fuzzy Bubbles", cursive;
}

/* Avatar Image */

.avatar-img {
  height: 300px;
  margin: auto;
  padding: auto;
}

/* Blog Page Styles */

.blogPageTitle {
  padding: 20px;
  color: var(--dark-blue) !important;
}

.blogCard {
  width: 80%;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blogPageLayout {
  padding: 20px;
  max-width: 800px;
}

.blogReadMoreButton {
  background-color: var(--dark-blue) !important;
  border: solid 10px var(--dark-blue) !important;
}

.custom-modal-dialog {
  max-width: 1000px !important; /* Adjust the width as per your requirement */
}

.modalImages {
  width: 40%;
  display: flex;
  margin: auto;
}

.backgroundBlogPicture {
  background-image: url(../images/maldives.jpeg);
  width: 98%;
  margin: auto;
  height: 300px;
  background-position: center center;
  padding-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 10px var(--dark-blue);
  border-radius: 40px;
}

.blogText {
  font-size: 2em;
  padding: 20px;
}

/* Contact Page */

.contactBackground {
  background-image: url(../images/vecteezy_sea-cave-background-in-cartoon-style_6769520.jpg);
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 100px;
}

.pageTitle {
  color: var(--light-blue);
}
.contact {
  font-size: 400%;
}

.contactText {
  text-align: center;
  margin: 0 auto 50px auto;
  padding: 20px;
  border: var(--dark-blue) solid 20px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--dark-blue);
  font-family: "Caveat", cursive;
  font-family: "Fuzzy Bubbles", cursive;
  background-color: var(--light-blue);
  border-radius: 20px;
  width: 80%;
}

.buttonGroup {
  color: var(--dark-blue);
  margin-top: 10px;
  margin-bottom: 10px;
}

.fa {
  font-size: 6rem;
  font-weight: bold;
  color: var(--dark-blue);
}

.fa:hover {
  font-size: 5rem;
}

span {
  display: flex;
  justify-content: space-around;
  margin: 0% 20% 0% 20%;
  align-items: center;
}

.contactMeForm {
  width: 80%;
  background-color: var(--dark-blue);
  margin: auto;
  border-radius: 60px;
  padding: 50px;
}

.cv {
  display: flex;
  margin: 40px auto 40px auto;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  color: var(--aqua-blue);
  font-weight: bold;
  font-size: 100%;
  width: 30%;
  border-radius: 20px;
  border: var(--dark-blue) solid 10px;
  background-color: var(--dark-blue);
  padding-bottom: 10px;
}

.cv:hover {
  color: var(--aqua-blue);
  background-color: var(--navy-blue);
  border: var(--navy-blue) solid 10px;
}
/* Page Not Found */

.notFoundPageContainer {
  width: 100%;
  background-color: var(--navy-blue);
  height: 85vh;
}

.notFoundPageInner {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notFoundPageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px solid var(--dark-blue);
  border-radius: 20px;
  width: 80%;
  background-color: var(--navy-blue);
  color: var(--light-blue);
}

.notFoundPageContent div {
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
}

.notFoundPageContent div:nth-child(1) {
  justify-content: center;
  align-items: center;
}

.notFoundPageContent p {
  font-size: 1rem;
}

.notFoundPageContent span {
  font-size: 2rem;
}

.notFoundPageContent a {
  color: var(--light-blue);
}

.notFoundPageContent img {
  display: flex;
  width: 200%;
}
